# 使用的 actions:
# https://github.com/marketplace/actions/automatic-releases
name: Main

on:
  push:
    branches: [ main ]
  # schedule:
  #   - cron: '0 8 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: download
        run: |
          sudo apt-get update
          sudo apt-get install aria2 rar python3 -y
          wget https://github.com/P3TERX/aria2.conf/raw/master/dht.dat
          wget https://github.com/P3TERX/aria2.conf/raw/master/dht6.dat
          wget https://github.com/ngosang/trackerslist/raw/master/trackers_all.txt
          tracker_list=`cat trackers_all.txt | sed ':label;N;s/\n\n/,/;b label'`
          aria2c --dir=${GITHUB_WORKSPACE}/downloads --continue=true --input-file=url.list --listen-port=51413 --dht-listen-port=51413 --enable-dht=true --enable-dht6=false --dht-file-path=dht.dat --dht-file-path6=dht6.dat --dht-entry-point=dht.transmissionbt.com:6881 --dht-entry-point6=dht.transmissionbt.com:6881 --bt-enable-lpd=true --enable-peer-exchange=true --bt-max-peers=128 --bt-request-peer-speed-limit=10M --max-overall-upload-limit=2M --max-upload-limit=0 --seed-ratio=1.0 --seed-time=0 --bt-hash-check-seed=true --bt-seed-unverified=false --bt-tracker-connect-timeout=10 --bt-tracker-timeout=10 --bt-prioritize-piece=head=32M,tail=32M --rpc-save-upload-metadata=true --follow-torrent=true --pause-metadata=false --bt-save-metadata=true --bt-load-saved-metadata=true --bt-remove-unselected-file=true --bt-force-encryption=true --bt-detach-seed-only=true --peer-agent="Transmission 2.94" --peer-id-prefix="-TR2940-" --user-agent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36 Edg/87.0.664.57" --bt-tracker="${tracker_list}"
          python3 ./deal_download_files.py

      - name: Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: ${{ github.run_id }}
          prerelease: false
          title: ${{ github.run_id }}
          files: |
            result/*
        
